<h2>Add your story here:</h2>
<section class="story">
  <% @story.each_with_index do |part, idx| %>
    <article class="story-part">
      <% if part %>
        <p><%= part %></p>
      <% else %>
        <form action="/add_line" method='POST' class='inline'>
          <input type="hidden" name="idx" value="<%= idx %>">
          <input type="text" name="part">
          <input type="submit" value="Save">
        </form>
      <% end %>
    </article>
  <% end %>
</section>

<%= session.inspect %>
